.w {
    width: 1200px;
    margin: 0 auto;
}

header {
    height: 100px;
    border-bottom: 2px solid #c81523;
}

.logo {
    padding-top: -10px;
}

.logo img {
    height: 80px;
}

.registerarea {
    height: 522px;
    border: 1px solid #ccc;
    margin-top: 10px;
}

.registerarea h3 {
    height: 42px;
    line-height: 42px;
    padding: 0 10px;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    background-color: #ececec;
}

.login {
    float: right;
    font-size: 14px;
}

.login a {
    color: #c81523;
}

.reg_form {
    width: 600px;
    margin: 50px auto 0;
}

.reg_form ul li {
    margin-top: 20px;
}

.reg_form ul li label {
    display: inline-block;
    width: 88px;
    text-align: center;
}

.reg_form ul li .inp {
    width: 242px;
    height: 37px;
    border: 1px solid #ccc;
}

.error {
    color: #c81523;
}

.error_ico,
.success_ico {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-top: -2px;
}

.error_ico {
    background: url(../images/error.png)no-repeat;
}

.success_ico {
    background: url(../images/success.png)no-repeat;
}

.success {
    color: green;
}

.safe {
    padding-left: 166px;
}

.safe em {
    padding: 0 12px;
    background-color: burlywood;
    color: #fff;
}

.safe .ruo {
    background-color: #de1111;
}

.safe .zhong {
    background-color: #40b83f;
}

.safe .qiang {
    background-color: #f79100;
}

.agree {
    padding-left: 100px;
}

.agree input {
    vertical-align: middle;
}

.agree a {
    color: #1ba1e6;
}

.reg_form .btn {
    width: 200px;
    height: 34px;
    background-color: #c81623;
    font-size: 14px;
    color: #fff;
    margin: 30px 0 0 90px;
}